{lib_dirs, []}.
{erl_opts, [{i, "apps"}, {i,"deps"}, {i, "../../deps/alog/include"}, {i, "../../deps/cowboy/include"}, {i, "../deps/alog/include"}, debug_info, warnings_as_errors]}.
{sub_dirs, ["rel", "apps/wiggle"]}.
{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps,
 [
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.6.1"}}},
  {jsx, ".*", {git, "http://github.com/talentdeficit/jsx.git", {tag, "v1.3.3"}}},
  {erltrace, ".*", {git, "https://github.com/project-fifo/erltrace.git", {branch, "master"}}}
 ]}.
